<% if game.worker_placemented_by?(current_user) %>
  <%= link_to "ワーカー配置", game_worker_placements_path(game), method: :delete, remote: true, class: "tag_button mechanics_color" %>
  <div class="tag_count"><%= @game.worker_placements.count %></div>
<% else %>
  <%= link_to "ワーカー配置", game_worker_placements_path(game), method: :post, remote: true, class: "tag_button yet_color" %>
  <div class="tag_count"><%= @game.worker_placements.count %></div>
<% end %>