<div class="container myself_container">
  <div class="row">
    <h3 class="title col-lg-12">ウォッチリスト</h3>
	  <div id="watches_out_buttons">
        <%= render partial: 'watches/watch_out', locals: { watches: @watches} %>
	  </div>
  </div>
</div>