<% if game.area_majoritied_by?(current_user) %>
  <%= link_to "陣取り", game_area_majorities_path(game), method: :delete, remote: true, class: "tag_button mechanics_color" %>
  <div class="tag_count"><%= @game.area_majorities.count %></div>
<% else %>
  <%= link_to "陣取り", game_area_majorities_path(game), method: :post, remote: true, class: "tag_button yet_color" %>
  <div class="tag_count"><%= @game.area_majorities.count %></div>
<% end %>