<div class="container about_image"></div>
<div class="container myself_container">
  <div class="row">
    <h3 class="title col-lg-12">ボドレビュ！とは</h3>
    <div class="col-lg-8 col-lg-offset-2 about_box">
      <p class="about_contents">
      	<br>ボドレビュ！は世界のボードゲームのレビューサイトです。<br><br>
        とはいえ、単なるレビューサイトではございません。<br><br>
        レビューサイトで長々と書かれている文章<br>
        投稿者が結局なにを伝えたいのかわからなかった。<br><br>
        レビューを投稿しようと思ったけど文章を考えるのが面倒くさい。<br><br>
        そんな経験ありませんか？<br><br>
        そんな問題を解決する<br>
        ボタンを押すだけで簡単にレビューが出来て<br>
        見る側も内容が統一されているのですっきりわかりやすい。<br><br>
        レビューは文章でなくボタンで行う新感覚ボードゲームレビューサイト<br>
        それがボドレビュ！<br><br>
      </p>