<% if game.midlle_weighted_by?(current_user) %>
  <%= link_to "60分未満", game_midlle_weights_path(game), method: :delete, remote: true, class: "tag_button fact_weight_color" %>
  <div class="tag_count"><%= @game.midlle_weights.count %></div>
<% else %>
  <%= link_to "60分未満", game_midlle_weights_path(game), method: :post, remote: true, class: "tag_button yet_color" %>
  <div class="tag_count"><%= @game.midlle_weights.count %></div>
<% end %>