<% if game.excellented_by?(current_user) %>
  <%= link_to "大好き", game_excellents_path(game), method: :delete, remote: true, class: "tag_button evaluate_color" %>
  <div class="tag_count"><%= @game.excellents.count %></div>
<% else %>
  <%= link_to "大好き", game_excellents_path(game), method: :post, remote: true, class: "tag_button yet_color" %>
  <div class="tag_count"><%= @game.excellents.count %></div>
<% end %>
