<div class="container header">
  <div class="row">
      <div class="col-lg-2", , style="margin-top: 5px;">
		<%= link_to "ボドレビュ！", root_path, class: "name" %>
      </div>
      <div class="col-lg-2", style="padding: 0;">
      	<p class="header-content col-lg-12">世界のボードゲーム<br>レビューサイト！</p>
	  </div>
      <div class="col-lg-2">
      </div>
	  <div class="col-lg-2" style="padding: 0; margin-top: 10px;">
	  	<%= link_to "ボドレビュ！とは", about_path, class: "header-content" %>
	  </div>
	  <div class="col-lg-2" style="padding: 0; margin-top: 10px;">
		<%= link_to "ログイン", new_user_session_path, class: "header-content" %>
	  </div>
	  <div class="col-lg-2" style="padding: 0; margin-top: 10px;">
		<%= link_to "会員登録", new_user_registration_path, class: "header-content" %>
	  </div>
  </div>
</div>