<% if game.memoried_by?(current_user) %>
  <%= link_to "記憶", game_memories_path(game), method: :delete, remote: true, class: "tag_button mechanics_color" %>
  <div class="tag_count"><%= @game.memories.count %></div>
<% else %>
  <%= link_to "記憶", game_memories_path(game), method: :post, remote: true, class: "tag_button yet_color" %>
  <div class="tag_count"><%= @game.memories.count %></div>
<% end %>