/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 .myself_container {
    padding: 10px;
    border: solid 2px #8B0000;
}

.title {
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 9px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    background: #8B0000;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

 .header {
     height: 40px;
     background-color: #8B0000;
}

.login {
    text-align: center;
    color: brack;
}

.search-box {
    width: 350px;
    height: 32px;
}

.name {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.name:hover {
    text-decoration: none;
}

.header-content {
    text-align: center;
    color: white;
}

.header-content:hover {
    text-decoration: none;
}

.about_contents {
    font-size: 23px;
}

.about_box {
    background-color: #FFE4C4;
}

.about_image {
  background-image: asset_url("main_image.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #8B0000;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}