// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sessions_registrations_submit {
	margin-top: 20px;
	background-color: #8B0000;
    color: #FFF
}

.watch_contents {
	font-size: 20px;
	background: #8B0000;
}